table.table thead tr th, table.table tbody tr td{
	text-align: center;
}

table.table tbody tr td{
	cursor: pointer;
}

table.table tbody tr td:hover{
	background-color: #dee2e6;
}

div.modal#dayModal div.modal-body div.col{
	height: 75px;
	position: relative;
	cursor: pointer;
}

div.modal#dayModal div.modal-body div.col:hover{
	background-color: #e9ecef;
	box-shadow:inset 0 0 3px 1px #fff;
}

div.modal#dayModal div.modal-body div.col p{
	margin: 0;
}

div.modal#dayModal div.modal-body div.col div.col-right{
    position: absolute;
    top: 15px;
    right: 0px;
}

div.modal#dayModal div.modal-body div.col div.col-right button.btn-close:hover{
	background-color: #dc3545;
	color: #fff;
}